{% extends "adminlayout.html" %}
{% block content1 %}
<div class="container mt-4 mb-5 pb-5" style="background: rgba(0,1,4,.6)">
  <legend class="border-bottom text-white text-center font-italic" style="font-family: Times New Roman, Times, serif"><h1 class="font-weight-bold text-white">Welcome to Muse</h1>
  <p>Open Hours: 10:30AM - 9:00PM</p>
  </legend>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-block p-3" style="background: rgba(0,68,68,0.3)">
                        <h4 class="card-title text-capitalize font-italic">Remove Items</h4>
                        <p class="card-text">Click Open to Remove Items from Menu.</p>
                        <a href="{{ url_for('menu') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-block p-3" style="background: rgba(0,68,68,0.3)">
                      <h4 class="card-title text-capitalize font-italic">Add Items</h4>
                      <p class="card-text">Click Open to Add Items to Menu.</p>
                      <a href="{{ url_for('addmenu') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-block p-3 text-capitalize" style="background: rgba(0,68,68,0.3)">
                        <h4 class="card-title font-italic">Modify User</h4>
                        <p class="card-text ">Click Open to modify user Role.</p>
                        <a href="{{ url_for('staff') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-block p-3 text-capitalize" style="background: rgba(0,68,68,0.3)">
                        <h4 class="card-title font-italic">View orders</h4>
                        <p class="card-text ">Click Open to view order status.</p>
                        <a href="{{ url_for('aoverwatch') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content1 %}
