{% extends "adminlayout.html" %}
{% block content1 %}
<div class="container mt-4 mb-5 p-2" style="background: rgba(0,1,4,.6)">
        <div class="card-deck">
                <div class="card my-2">
                    <div class="card-block p-2" style="background: rgba(0,68,68,0.3)">
                        <h4 class="card-title text-capitalize font-italic">View All Orders Placed By Customers</h4>
                        <p class="card-text">Click Open to view.</p>
                        <a href="{{ url_for('vop') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>


                <div class="card my-2">
                    <div class="card-block p-2" style="background: rgba(0,68,68,0.3)">
                      <h4 class="card-title text-capitalize font-italic">View All Orders That Are Being Cooked</h4>
                      <p class="card-text">Click Open to view.</p>
                      <a href="{{ url_for('voc') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>

                <div class="card my-2">
                    <div class="card-block p-2 text-capitalize" style="background: rgba(0,68,68,0.3)">
                        <h4 class="card-title font-italic">View All Orders Ready For Delivery</h4>
                        <p class="card-text ">Click Open to view.</p>
                        <a href="{{ url_for('vor') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>

                <div class="card my-2">
                    <div class="card-block p-2 text-capitalize" style="background: rgba(0,68,68,0.3)">
                        <h4 class="card-title font-italic">View All Completed Deliveries</h4>
                        <p class="card-text ">Click Open to view.</p>
                        <a href="{{ url_for('vod') }}" class="btn btn-primary rounded mb-2">Open</a>
                    </div>
                </div>
        </div>
    </div>
{% endblock content1 %}
