{% extends "layout.html" %}
{% block content %}
<div class="container-fluid mt-4 mb-5 pb-5" id="menupage" style="background: rgba(0,1,4,.6)">
  <br>
  <legend class="border-bottom text-white font-italic" style="font-family: Times New Roman, Times, serif"><h1 class="font-weight-bold text-white">Welcome to Muse</h1>
  <p>Open Hours: 01:00PM - 10:00PM</p>
  </legend>
  <br>
  <div class="container text-center mx-auto">
    <ul class="nav nav-pills mb-3 nav-fill" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active font-weight-bold itembar" id="pills-RCD-tab" data-toggle="pill" href="#pills-RCD" role="tab" aria-controls="pills-RCD" aria-selected="true">ROTISSERIE CHICKEN DINNERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold itembar" id="pills-Pizzas-tab" data-toggle="pill" href="#pills-Pizzas" role="tab" aria-controls="pills-Pizzas" aria-selected="false">PIZZAS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold itembar" id="pills-Sandwiches-tab" data-toggle="pill" href="#pills-Sandwiches" role="tab" aria-controls="pills-Sandwiches" aria-selected="false">SANDWICHES</a>
      </li>
    </ul>
  </div>
  <hr>
  {% if 'user' in session %}
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-RCD" role="tabpanel" aria-labelledby="pills-RCD-tab">
      <div>
        <div class="mx-auto">
          <h4 class="text-white text-center">(served with rice, salad, and multigrain roll)</h4>
        </div>
        {% for e in posts %}
        <div class="row container mx-auto">
          <div class="media content-section bg-danger" >
            <div class="checkbox my-auto">
            </div>
          </div>
          <article class="media content-section col" style="background: rgba(253,251,251,.9)">
            <div class="media-body">
                <p class="article-content">{{ e['ItemName'] }}</p>
                <label for="">Description</label>:<p class="article-content" style="opacity:1">{{ e['Description'] }}</p>
                <div class="row">
                 <div class="ml-3 mr-auto row">
                   <label for="">Price</label>:<p class="article-content">{{ e['Price'] }}</p>
                 </div>
                 <div class="row justify-content-end">
                <!--  <div class="ml-5 row">
                   <label for="">Time</label>:<p class="article-content">{{ e['Time'] }}</p>
                 </div> -->
                <input type="button" class="mr-4 btn btn-md btnuhr bg-info" id="{{ e['ItemName'] }}{{e['Price']}}" name="addkart" price="{{ e['Price'] }}" value="Add to cart" onclick="cart(this.id)">
               </div>
            </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="pills-Pizzas" role="tabpanel" aria-labelledby="pills-Pizzas-tab">
      <div>
        <div class="mx-auto">
          <h4 class="text-white text-center">(one size Large)</h4>
        </div>
        {% for e in result %}
        <div class="row container mx-auto">
          <div class="media content-section bg-danger" >
            <div class="checkbox my-auto">
            </div>
          </div>
          <article class="media content-section col" style="background: rgba(253,251,251,.9)">
            <div class="media-body">
                <p class="article-content">{{ e['ItemName'] }}</p>
                <label for="">Description</label>:<p class="article-content" style="opacity:1">{{ e['Description'] }}</p>
                <div class="row">
                 <div class="ml-3 mr-auto row">
                   <label for="">Price</label>:<p class="article-content">{{ e['Price'] }}</p>
                 </div>
                 <div class="row justify-content-end">
                <!--  <div class="ml-5 row">
                   <label for="">Time</label>:<p class="article-content">{{ e['Time'] }}</p>
                 </div> -->
                 <input type="button" class="mr-4 btn btn-md btnuhr bg-info" id="{{ e['ItemName'] }}{{e['Price']}}" name="addkart" price="{{ e['Price'] }}" value="Add to cart" onclick="cart(this.id)">
               </div>
            </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="pills-Sandwiches" role="tabpanel" aria-labelledby="pills-Sandwiches-tab">
      <div>
        <div class="mx-auto">
          <h4 class="text-white text-center">(served with potato wedges)</h4>
        </div>
        {% for e in name %}
        <div class="row container mx-auto">
          <div class="media content-section bg-danger" >
            <div class="checkbox my-auto">
            </div>
          </div>
          <article class="media content-section col" style="background: rgba(253,251,251,.9)">
            <div class="media-body">
                <p class="article-content">{{ e['ItemName'] }}</p>
                <label for="">Description</label>:<p class="article-content" style="opacity:1">{{ e['Description'] }}</p>
                <div class="row">
                 <div class="ml-3 mr-auto row">
                   <label for="">Price</label>:<p class="article-content">{{ e['Price'] }}</p>
                 </div>
                 <div class="row justify-content-end">
                <!--  <div class="ml-5 row">
                   <label for="">Time</label>:<p class="article-content">{{ e['Time'] }}</p>
                 </div> -->
                 <input type="button" class="mr-4 btn btn-md btnuhr bg-info" id="{{ e['ItemName'] }}{{e['Price']}}" name="addkart" price="{{ e['Price'] }}" value="Add to cart" onclick="cart(this.id)">
               </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  </div>
  {% else %}
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active " id="pills-RCD" role="tabpanel" aria-labelledby="pills-RCD-tab">
      <div>
        <div class="mx-auto">
          <h4 class="text-white text-center">(served with rice, salad, and multigrain roll)</h4>
        </div>
        {% for e in posts %}
        <div class="row container mx-auto">
          <div class="media content-section bg-danger" >
            <div class="checkbox my-auto">
            </div>
          </div>
          <article class="media content-section col" style="background: rgba(253,251,251,.9)">
            <div class="media-body">
                <p class="article-content">{{ e['ItemName'] }}</p>
                <label for="">Description</label>:<p class="article-content" style="opacity:1">{{ e['Description'] }}</p>
                 <div class="row">
                  <div class="ml-3 row">
                    <label for="">Price</label>:<p class="article-content">{{ e['Price'] }}</p>
                  </div>
                <!--   <div class="ml-5 row">
                    <label for="">Time</label>:<p class="article-content">{{ e['Time'] }}</p>
                  </div> -->
                </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
  </div>
    <div class="tab-pane fade" id="pills-Pizzas" role="tabpanel" aria-labelledby="pills-Pizzas-tab">
      <div>
        <div class="mx-auto">
          <h4 class="text-white text-center">(one size Large)</h4>
        </div>
        {% for e in result %}
        <div class="row container mx-auto">
          <div class="media content-section bg-danger" >
            <div class="checkbox my-auto">
            </div>
          </div>
          <article class="media content-section col" style="background: rgba(253,251,251,.9)">
            <div class="media-body">
                <p class="article-content">{{ e['ItemName'] }}</p>
                <label for="">Description</label>:<p class="article-content" style="opacity:1">{{ e['Description'] }}</p>
                 <div class="row">
                  <div class="ml-3 row">
                    <label for="">Price</label>:<p class="article-content">{{ e['Price'] }}</p>
                  </div>
                <!--  <div class="ml-5 row">
                    <label for="">Time</label>:<p class="article-content">{{ e['Time'] }}</p>
                  </div> -->
                </div>
            </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="tab-pane fade" id="pills-Sandwiches" role="tabpanel" aria-labelledby="pills-Sandwiches-tab">
      <div>
        <div class="mx-auto">
          <h4 class="text-white text-center">(served with potato wedges)</h4>
        </div>
        {% for e in name %}
        <div class="row container mx-auto">
          <div class="media content-section bg-danger" >
            <div class="checkbox my-auto">
            </div>
          </div>
          <article class="media content-section col" style="background: rgba(253,251,251,.9)">
            <div class="media-body">
                <p class="article-content">{{ e['ItemName'] }}</p>
                <label for="">Description</label>:<p class="article-content" style="opacity:1">{{ e['Description'] }}</p>
                 <div class="row col">
                  <div class="ml-3 row">
                    <label for="">Price</label>:<p class="article-content">{{ e['Price'] }}</p>
                  </div>
                <!--  <div class="ml-5 row">
                    <label for="">Time</label>:<p class="article-content">{{ e['Time'] }}</p>
                  </div>
                </div> -->
            </div>
          </div>
          </article>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
<script type="text/javascript">
  function upload(){
    // $("#menupage").css({"display:":"none"});
    $("#menupage").hide();
    // $("#review").css({"display:":"block"});
    $("#review").show();
    var user_id = document.getElementById("user_id").innerHTML;
    // document.getElementById("user_id").style.color = "white";
    // alert("ab")
    $.ajax({
      type: "POST",
      url: "/review?info="+dict_str+"&user="+user_id,
      datatype: 'json',
      // data: "formname="+formname+"&status="+status,
      success: function(res){
          var obj = JSON.parse(res);
          console.log(res);
          newobj = parseInt(obj.time)+(parseInt(obj.distanceETA)+5)+obj.pETA+obj.cETA;
          var d = new Date().getTime();
          var dateB = new Date(d);
          var dayRelativeDifference =   dateB.getHours()*60 + dateB.getMinutes();
          console.log(dayRelativeDifference);
          pts = dayRelativeDifference;
          resu = dayRelativeDifference + newobj;
          console.log(resu);
          var hours = ((resu / 60) - 12);
          rhours = Math.floor(hours);
          var minutes = (hours - rhours) * 60;
          rminutes = Math.round(minutes);
          console.log(rhours);
          console.log(rminutes);

          document.getElementById("review_addr").innerHTML = "Delivery Type : Cash On Deliver (COD)";
          document.getElementById("review_addr").innerHTML = "Your order will be sent to : "+ obj.address;

          if(rhours < 10 && rminutes < 10){
            document.getElementById("review_ETA").innerHTML = "Estimated Time: 0"+rhours+":0"+rminutes;
          }else if(rhours < 10 && rminutes > 10){
            document.getElementById("review_ETA").innerHTML = "Estimated Time: 0"+rhours+":"+rminutes;
          }else {
            document.getElementById("review_ETA").innerHTML = "Estimated Time: "+rhours+":"+rminutes;
          }
          
          document.getElementById("review_tax").innerHTML = "Tax: $"+ totax;
          document.getElementById("review_total").innerHTML = "Total: $"+ topr;
          document.getElementById("review_grandtot").innerHTML = "Grant Total: $"+ totp;

          // var cont = document.getElementById("cart_content").innerHTML;
          // document.getElementById("review_item").innerHTML = cont;
          for (var key in dict){
            var new_ele ="<tr>";
            new_ele += "<td>"+key+" </td><td>"+dict[key]+"</td> ";
            new_ele += "</tr>";
            $("#review_item").append(new_ele);
          }


        }
    });//ajax
    $("#shopping-cart").css('display', "none");
  }

</script>
{% endblock content %}
